/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header styles */
h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

/* Navigation styles */
nav {
  text-align: center;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-weight: bold;
}

/* Hamburger menu styles */
#hamburger-nav {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.menu-links {
  display: none;
  margin-top: 20px;
}

.container {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Section text styles */
.section__text {
  text-align: center;
  margin-top: 20px;
}

.section__text p,
.section__text h1 {
  margin: 5px 0;
  color: #333;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
}

footer nav ul li:last-child {
  margin-right: 0;
}

footer nav ul li a {
  text-decoration: none;
  color: #fff;
}